
$nav-wrapper:#FFFFFF;
$hamburguercolor:#000000;
$infoicon:#fec56d;
$selectcontainer:#FFFFFF;
$vehiculoscontainer:#FFFFFF;
$borderselect:#fec56d;
$btn:#fec56d;
$hoverbtn:#000000;
$fontinfo:'Hind', sans-serif;
$valorcolor:#fec56d;